body {
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
  font-size: 14px;
  margin: 0;
  padding: 24px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}

pre, code {
  font-family: "Source Code Pro", monospace;
}

section {
  padding: 20px 0;
}

section > div {
  padding: 14px;
  font-size: 16px;
  max-width: 800px;
}

paper-input {
  width: 100%;
}

paper-button.colored {
  color: #4285f4;
}

paper-button[raised].colored {
  background: #4285f4;
  color: #fff;
}

paper-button.custom > core-icon {
  margin-right: 4px;
}

paper-button.hover:hover {
  background: #eee;
}

paper-button.blue-ripple::shadow #ripple {
  color: #4285f4;
}

.text-info {
  color: #757575;
  font-size: 0.75em;
  background: transparent;
  white-space: nowrap;
}
